
.myname{
    width: 262px !important;
    height: 328px !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 8px !important;
}

.rating{
    margin-left: 2px !important;
}

.AddtoCart{
    padding: 12px !important;
}
.product-img{
display: flex !important;
    justify-content: center !important;
}

.category{
    margin-left: 7px !important;
}